@charset "UTF-8";
/* CSS Document */

/* CSS RESET
----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
-webkit-appearance: none;
-moz-appearance: none;
}
input[type=search] {
-webkit-appearance: none;
-moz-appearance: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
textarea {
overflow: auto;
vertical-align: top;
resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
display: inline-block;
    *display: inline;
    *zoom: 1;
max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
display: none;
height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
font-size: 100%; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
outline: 0;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
border: 0; /* 1 */
padding: 0;
white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
font-size: 100%; /* 1 */
margin: 0; /* 2 */
vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
overflow: auto; /* 1 */
vertical-align: top; /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
border-collapse: collapse;
border-spacing: 0;
}
html,
button,
input,
select,
textarea {
color: #222;
}
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}
::selection {
background: #b3d4fc;
text-shadow: none;
}
img {
vertical-align: middle;
}
fieldset {
border: 0;
margin: 0;
padding: 0;
}
textarea {
resize: vertical;
}
.chromeframe {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* STRUCTURE
----------------------------------------------------*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
    background: rgb(203,64,101);
    background: -moz-linear-gradient(90deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    background: linear-gradient(90deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb4065",endColorstr="#df5742",GradientType=1);
    width: 100%;
    height: auto;
    min-height: 100vh;
}
section.row {
    width: 100%;
}
.wrap {
    position: relative;
    overflow: hidden;
}

/* TYPOGRAPHY
----------------------------------------------------*/
body {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #4d4d4f;
}
h1, h2, h3 {
    font-size: 32pt;
    font-weight: 900;
    color: #d44b55;
    line-height: 0.8;
}
p {
    margin-top: 30px;
    line-height: 1.4;
}
strong {
    font-weight: 500;
    color: #000000;
}


/* LINKS & BUTTONS
----------------------------------------------------*/

a {
    text-decoration: none;
}
.button {
    text-decoration: none;
    background: rgb(203,64,101);
    background: -moz-linear-gradient(150deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    background: linear-gradient(150deg, rgba(203,64,101,1) 0%, rgba(223,87,66,1) 100%);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    overflow: auto;
    margin: 10px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 8px rgba(212,75,85,0.8);
}
.button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    box-shadow: 0px 2px 8px rgba(212,75,85,0.8);
}

/* HEADER
----------------------------------------------------*/
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 99;
}
header:after {
    content: '';
    position: absolute;
    top: -300px;
    right: -10%;
    left: -10%;
    width: 120%;
    height: 400px;
    background-color: #ffffff;
    transform: rotate(-10deg);
    z-index: -1;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.5);
}
.logo {
    width: 150px;
    margin: 30px 0 0 70px;
    float: left;
}
.tagline {
    width: 150px;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 14pt;
    margin: 110px 0 0 20px;
    float: left;
}

@media all and (max-width: 1500px) {
    .logo {
        width: 100px;
    }
    .tagline {
        margin: 80px 0 0 20px;
    }
}
@media all and (max-width: 1040px) {
    .logo {
        width: 100px;
        margin: 3% 0 0 30px;
    }
    .tagline {
        margin: 6% 0 0 20px;
        font-size: 12pt;
    }
}

/* nav
----------------------------------------------------*/
nav {
    position: absolute;
    width: 50%;
    top: 50px;
    left: 30%;
    text-align: left;
    transform: rotate(-10deg);
}
nav ul li {
    display: inline-block;
    margin: 0 1% 10px 1%;
    transition: all .3s ease;
}

nav ul li a {
    text-decoration: none;
    font-size: 14pt;
    font-weight: 900;
    text-transform: uppercase;
    color: #d44b55;
}
nav ul li:hover {
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
    transition: all 0.3s ease;
    text-shadow: 0px 0px 6px rgba(212,75,85,0.3);
}
#menuToggle input {
	opacity: 0;
	display: none;
}
.menuwrap{
	margin: 0;
	padding: 0;
	display: inline;
}
li.menu-item-has-children i {
	transform: rotate(0deg);
	transition: all 0.4s ease;
}
li.menu-item-has-children.active i {
	transform: rotate(180deg);
}
@media all and (max-width: 1300px) {
	#menuToggle {
        display: block;
        position: absolute;
        left: 90px;
        transform: rotate(10deg);
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        top: 0px;
	}
	#menuToggle input {
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  z-index: 2;
	  -webkit-touch-callout: none;
	}
	#menuToggle span {
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background: #cdcdcd;
	  border-radius: 3px;
	  z-index: 1;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}
	#menuToggle input:checked ~ span {
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}
	#menuToggle input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2) {
	  opacity: 1;
	  transform: rotate(-45deg) translate(0, -1px);
	}
	#menuwrap {
		position: absolute;
		width: 300px;
		margin: -60px 0 0 0;
        padding: 80px 20px 40px 100px;
		right: -30px;
		background: #ffffff;
		box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        border-bottom-right-radius: 40px;
		border-bottom-left-radius: 40px;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(65%, -200%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#menuToggle input:checked ~ #menuwrap {
		transform: translate(65%, -20%);
	    opacity: 1;
	}
	nav ul.menu li {
		display: block;
        height: auto;
        margin: 25px 0 0 5px;
	}
	nav ul.menu li:nth-child(1) {
        margin: 0 0 0 5px;
    }
}
@media all and (max-width: 767px) {
	#menuToggle {
        right: -30px;
        z-index: 1;
        transform: rotate(10deg);
        top: 70px;
        left: initial;
    }
    #menuToggle span {
        background: #ffffff;
    }
    #menuwrap {
        margin: -60px 0 0 0;
        padding: 50px 20px 40px 20px;
        right: -30px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        transform: translate(130%, 0);
    }
    #menuToggle input:checked ~ #menuwrap {
        transform: translate(30%, 0);
    }
}


/* HERO
----------------------------------------------------*/
.hero {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}
.hero-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hero img.hero-bg {
    position: absolute;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
    width: 180%;
    left: -55%;
    top: -4%;
    z-index: -1;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.hero-text {
    width: 90%;
    max-width: 1000px;
    margin: 20% auto 0 auto;
    font-size: 54pt;
    font-weight: 900;
    color: #ffffff;
    z-index: 5;
    text-shadow: 2px 0px 8px rgba(0,0,0,0.5);
}
.hero-text span {
    font-weight: 400;
    font-size: 34pt;
}
#countdown {
    border-radius: 10px;
    margin: 0 0px 10px 10px;
    padding: 5px;
}
.clock-col {
    display: inline-block;
    position: relative;
    font-size: 10pt;
    font-weight: 400;
    text-align: center;
    width: 70px;
    margin: 0 5px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
}
.clock-col span {
    display: block;
    width: 100%;
    font-size: 24pt;
    font-weight: 500;
}
.clock-col:after {
    content: ':';
    display: block;
    position: absolute;
    width: 20px;
    font-size: 24pt;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    top: 12px;
    right: -15px;
}
.clock-col:last-child:after {
    display: none;
}

@media all and (max-width: 1500px) {
    .hero-text {
        margin: 15% auto 0 auto;
        max-width: 800px;
    }
}

@media all and (max-width: 1250px) {
    .hero-text {
        margin: 10% auto 0 auto;
        text-align: right;
    }
}

@media all and (max-width: 1040px) {
    .hero {
        height: 50vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .hero-text {
        margin: 10% auto 0 auto;
        font-size: 48pt;
    }
    .hero img.hero-bg {
        width: 280%;
        left: -105%;
    }
}

@media all and (max-width: 767px) {
    .hero {
        height: 80vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .hero-text {
        margin: 45% auto 0 auto;
        font-size: 48pt;
        text-align: left;
    }
    .hero img.hero-bg {
        width: 480%;
        left: -305%;
    }
    #countdown {
        margin-bottom: 20px;
    }
    .clock-col {
        font-size: 9pt;
        width: 55px;
        margin: 0 2px;
        padding: 8px;
    }
    .clock-col span {
        font-size: 18pt;
    }
    .clock-col:after {
        display: none;
    }
}


/* UPCOMING EVENTS / WHY POGS
----------------------------------------------------*/
section.row.events.why {
    width: 90%;
    max-width: 1200px;
    margin: -60px auto 0 auto;
    padding: 40px;
    z-index: 7;
    overflow: auto;
}
.upcoming-events,
.why-pogs {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.5);
}
.upcoming-events {
    float: left;
    width: 36.33333%;
}
.upcoming-events ul li {
    font-weight: 500;
    text-transform: uppercase;
    padding: 27px 10px 27px 10px;
    position: relative;
    border-bottom: solid 1px #d44b55;
    width: 100%;
    float: left;
}
.upcoming-events ul li:nth-child(1) {
    padding-top: 27px;
}
.upcoming-events ul li span {
    display: block;
    margin: 0 0 10px 0;
}
.button.sold-out,
.button.on-sale,
.button.coming-soon {
    display: inline-block;
    font-size: 12pt;
    text-transform: lowercase;
    margin: 0;
    height: 26px;
    overflow: initial;
    padding: 0px 20px;
    line-height: 26px;
}
.button.sold-out {
	background: #4d4d4f !important;
	background: -webkit-linear-gradient(left bottom, #4d4d4f , #707075) !important;
	background: -o-linear-gradient(top right, #4d4d4f, #707075) !important;
	background: -moz-linear-gradient(top right, #4d4d4f, #707075) !important;
    background: linear-gradient(to top right, #4d4d4f , #707075) !important;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.button.sold-out,
.button.coming-soon {
    opacity: 0.3;
}
.button.sold-out:hover,
.button.coming-soon:hover {
    transform: scale(1);
    cursor: not-allowed;
}
.why-pogs {
    float: right;
    width: 60.33333%;
}
@media all and (max-width: 1150px) {
    .upcoming-events ul li:nth-child(1) span {
        margin-bottom: 0;
    }
    .upcoming-events ul li:nth-child(1) span::after {
        position: initial;
        display: block;
        margin-left: 20px;
    }
}
@media all and (max-width: 1040px) {
    section.row.events.why {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .upcoming-events,
    .why-pogs {
        width: 100%;
        float: none;
        margin: 20px 0;
        overflow: auto;
    }
    .upcoming-events ul li:nth-child(1) span::after,
    .upcoming-events ul li span {
        display: inline-block;
        margin-right: 20px;
    }
}




/* FAVORITE POGS
----------------------------------------------------*/
section.row.fav-pogs {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    z-index: 7;
}
.fav-pogs h2 {
    color: #ffffff;
}
.fav-pogs h2 span {
    font-size: 14pt;
    font-weight: 500;
}
.fav-pogs ul {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.fav-pogs ul li {
    display: inline-block;
    border-radius: 10000px;
    width: 11%;
    height: auto;
    margin: 0.5%;
    transition: all 0.6s ease;
    z-index: 1;
    opacity: 0.5;
}
.fav-pogs ul li:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
    z-index: 9;
    opacity: 1;
    transition: all 0.6s ease;
}
.fav-pogs ul li:hover img {
    transition: all 0.6s ease;
}

@media all and (max-width: 1040px) {
    .fav-pogs ul li {
        width: 23%;
    }
}
@media all and (max-width: 767px) {
    .fav-pogs ul li {
        width: 30%;
    }
}


/* FOOTER
----------------------------------------------------*/
footer {
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 10pt;
}